 <style>
    table {
<!--      font-family: arial, sans-serif;-->
<!--      border-collapse: collapse;-->
      width: 100%;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 3px;
    }
    tr:nth-child(even) {
      background-color: #dddddd;
    }
  </style>
   <form action="/ewsitem/" method="post">
    {% csrf_token %}
    {{ ewsform }}
    <input type="submit" value="Submit">
   </form>

 <label for="file">Загружаем почту:</label>
 <progress id="file" value="32" max="100"> 32% </progress>
 <br> <br />
